version: '3.7'
services:
  backend-green:
    image: sivertschou/dundring-backend:${TAG_GREEN}
    container_name: backend-green
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - FRONTEND_BASE_URL=https://${BASE_URL}
      - SLACK_TOKEN=${SLACK_TOKEN}
      - STRAVA_CLIENT_ID=${STRAVA_CLIENT_ID}
      - STRAVA_CLIENT_SECRET=${STRAVA_CLIENT_SECRET}
      - POD=green
      - TAG=${TAG_GREEN}
      - NODE_ENV=production
    networks:
      - caddy
      - dundring
    labels:
      caddy: ${BASE_URL}
      caddy.reverse_proxy: '/api* {{upstreams 8080}}'
      caddy.reverse_proxy.lb_policy: 'cookie'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  frontend-green:
    image: sivertschou/dundring-frontend:${TAG_GREEN}
    container_name: frontend-green
    restart: always
    networks:
      - caddy
    labels:
      caddy: ${BASE_URL}
      caddy.reverse_proxy: '{{upstreams 80}}'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  backend-blue:
    image: sivertschou/dundring-backend:${TAG_BLUE}
    container_name: backend-blue
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    depends_on:
      - postgres
    ports:
      - 8080:8080
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - FRONTEND_BASE_URL=https://${BASE_URL}
      - SLACK_TOKEN=${SLACK_TOKEN}
      - STRAVA_CLIENT_ID=${STRAVA_CLIENT_ID}
      - STRAVA_CLIENT_SECRET=${STRAVA_CLIENT_SECRET}
      - POD=blue
      - TAG=${TAG_BLUE}
      - NODE_ENV=production
    networks:
      - caddy
      - dundring
    labels:
      caddy: ${BASE_URL}
      caddy.reverse_proxy: '/api* {{upstreams 8080}}'
      caddy.reverse_proxy.lb_policy: 'cookie'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  frontend-blue:
    image: sivertschou/dundring-frontend:${TAG_BLUE}
    container_name: frontend-blue
    restart: always
    networks:
      - caddy
    labels:
      caddy: ${BASE_URL}
      caddy.reverse_proxy: '{{upstreams 80}}'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  postgres:
    image: postgres:16.1-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: dundring
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - dundring
    volumes:
      - ~/data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: always
    networks:
      - dundring

networks:
  dundring:
  caddy:
    external: true
