version: '3.7'
services:
  backend-green:
    image: sivertschou/dundring-backend:${TAG_GREEN}
    container_name: backend-prod-green
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - SLACK_USER_CREATION=${SLACK_TOKEN}
      - SLACK_ERRORS=${SLACK_TOKEN}
      - SLACK_GROUP_SESSION=${SLACK_TOKEN}
      - SLACK_FEEDBACK=${SLACK_TOKEN}
      - POD=green
      - TAG=${TAG_GREEN}
      - NODE_ENV=production
    networks:
      - caddy
      - dundring-prod
    labels:
      caddy: dundring.com, prod.dundring.com
      caddy.reverse_proxy: '/api* {{upstreams 8080}}'
      caddy.reverse_proxy.lb_policy: 'cookie'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  frontend-green:
    image: sivertschou/dundring-frontend:${TAG_GREEN}
    container_name: frontend-prod-green
    restart: always
    networks:
      - caddy
    labels:
      caddy: dundring.com, prod.dundring.com
      caddy.reverse_proxy: '{{upstreams 80}}'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  backend-blue:
    image: sivertschou/dundring-backend:${TAG_BLUE}
    container_name: backend-prod-blue
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - SLACK_USER_CREATION=${SLACK_TOKEN}
      - SLACK_ERRORS=${SLACK_TOKEN}
      - SLACK_GROUP_SESSION=${SLACK_TOKEN}
      - SLACK_FEEDBACK=${SLACK_TOKEN}
      - POD=blue
      - TAG=${TAG_BLUE}
      - NODE_ENV=production
    networks:
      - caddy
      - dundring-prod
    labels:
      caddy: dundring.com, prod.dundring.com
      caddy.reverse_proxy: '/api* {{upstreams 8080}}'
      caddy.reverse_proxy.lb_policy: 'cookie'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

  frontend-blue:
    image: sivertschou/dundring-frontend:${TAG_BLUE}
    container_name: frontend-prod-blue
    restart: always
    networks:
      - caddy
    labels:
      caddy: dundring.com, prod.dundring.com
      caddy.reverse_proxy: '{{upstreams 80}}'
      caddy.tls.dns: 'cloudflare ${CLOUDFLARE_DNS_API_TOKEN}'

networks:
  caddy:
    external: true
  dundring-prod:
    external: true
