name: Build and deploy preview

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build, tag and push backend
        uses: docker/build-push-action@v5
        with:
          file: ./apps/backend/Dockerfile
          tags: ${{ vars.DOCKERHUB_USERNAME }}/dundring-backend:preview-${{ github.event.number }}
          push: true

      - name: Build, tag and push frontend
        uses: docker/build-push-action@v5
        with:
          file: ./apps/frontend/Dockerfile
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add docker compose file to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: docker/preview/docker-compose.yaml
          target: previews/preview-${{ github.event.number }}
          strip_components: 2

      - name: Start the containers with Docker Compose
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}

          script: |
            cd previews/preview-${{ github.event.number }}

            TAG=preview-${{ github.event.number }} \
              docker-compose pull

            TAG=preview-${{ github.event.number }} \
              DB_USERNAME=dundring \
              DB_PASSWORD=password \
              CLOUDFLARE_DNS_API_TOKEN=${{ secrets.CLOUDFLARE_API_TOKEN }} \
              MAIL_HOST=${{ secrets.MAIL_HOST }} \
              MAIL_PORT=${{ secrets.MAIL_PORT }} \
              MAIL_USER=${{ secrets.MAIL_USER }} \
              MAIL_PASSWORD='${{ secrets.MAIL_PASSWORD }}' \
              docker-compose up -d

      # - name: Start the containers with Docker Compose
      #   uses: appleboy/ssh-action@v1.0.0
      #   env:
      #   with:
      #     host: ${{ secrets.SSH_HOST }}
      #     username: ${{ secrets.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_KEY }}
      #
      #     script: |
      #       docker stop $(docker container ls -q -f ancestor=${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}) || echo "No frontend container to stop"
      #       docker pull ${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}
      #       docker run -d \
      #         --network caddy \
      #         --label caddy=preview-${{ github.event.number }}.dundring.com \
      #         --label caddy.reverse_proxy="{{upstreams 80}}" \
      #         --label caddy.tls.dns="cloudflare ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
      #         ${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}
      # - name: Start the app
      #   uses: appleboy/ssh-action@v1.0.0
      #   env:
      #   with:
      #     host: ${{ secrets.SSH_HOST }}
      #     username: ${{ secrets.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_KEY }}
      #
      #     script: |
      #       docker stop $(docker container ls -q -f ancestor=${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}) || echo "No frontend container to stop"
      #       docker pull ${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}
      #       docker run -d \
      #         --network caddy \
      #         --label caddy=preview-${{ github.event.number }}.dundring.com \
      #         --label caddy.reverse_proxy="{{upstreams 80}}" \
      #         --label caddy.tls.dns="cloudflare ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
      #         ${{ vars.DOCKERHUB_USERNAME }}/dundring-frontend:preview-${{ github.event.number }}
